* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(69, 68, 68);
    color: rgb(243, 197, 16);
    padding: 1rem;
    text-align: left;
    font-size:1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(243, 241, 233);
    color: rgb(80, 80, 80);
    padding: 1rem;
    margin: 0.5rem;
    letter-spacing: 0.2px;
    line-height: 1.5;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1rem;
    display: block;
}

a {
    color: rgb(243, 197, 16);
    text-decoration: none;
}

.section {
    background-color: #dbdbdb;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    display: flex;
    border-radius: 20px;
    float: left;

}

.img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    float: left;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}



    .section {
        flex-direction: column;
    }

    
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        background: rgb(69, 68, 68);
        color: rgb(243, 197, 16);
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

